files:
  "/etc/nginx/conf.d/https_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 80;
        return 301 https://$host$request_uri;
      }

      server {
        listen 443 ssl;
        server_name www.game.pantakan.com;

        ssl_certificate /etc/pki/tls/certs/cert.pem;
        ssl_certificate_key /etc/pki/tls/certs/privkey.pem;
        ssl_trusted_certificate /etc/pki/tls/certs/chain.pem;

        location / {
          proxy_pass http://localhost:3000;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto $scheme;
        }
      }

container_commands:
  01_copy_certs:
    command: "cp .ebextensions/certs/* /etc/pki/tls/certs/"